@{
    ViewBag.Title = "Login";
}

<div class="login-container">
    <form asp-controller="Account" asp-action="Login" method="post" role="form">
        @Html.Partial("_UsernamePasswordInputs")
        <div class="login-button-container">
            <input type="submit" value="Login" class="btn default-button" />
        </div>
        <div>
            @Html.ActionLink("Not registered? Register here", "Register", null, new { @class = "link-text" })
        </div>
    </form>
</div>
